body {
  font-family: myriad-pro, sans-serif !important;
  font-style: normal;
  font-weight: 400;
}

.menu li ul {
  padding: 0px;
  display: none;
  position: absolute;
  min-width: 148px;
  list-style: none;
}

.menu li > ul > li a:hover {
  color: #FF5B22;
}

.menu ul {
  background-color: #fff;
}

.menu li > ul > li > a:active {
  background-color: #fff;
}

.menu li:hover > ul {
  display: block;
}

.menu li ul li {
  position: relative;
}

.menu li ul li ul {
  right: -147px;
  top: 0;
}

@media (max-width: 500px) {
  .menu li ul {
    background-color: rgba(255, 255, 255, 0.16);
    position: static;
  }
}
.primary-color {
  color: #FF5B22;
}

.secondary-color {
  color: #fff;
}

.btn {
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-enviar {
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 3%;
  margin-left: 40%;
}

.btn-tertiary {
  background-color: gba(235, 133, 30, 1);
  background: -webkit-gradient(left top, right top, color-stop(0%, #eb851e), color-stop(27%, #eb851e), color-stop(29%, #eb851e), color-stop(78%, #e55c24), color-stop(100%, #e55c24));
  background: linear-gradient(to right, #eb851e 0%, #eb851e 27%, #eb851e 29%, #e55c24 78%, #e55c24 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eb851e", endColorstr="#e55c24", GradientType=1);
  color: #fff;
}

.navbar-DT > #navbarNav > .navbar-nav {
  margin-left: 50%;
  width: 110%;
}

.navbar-DT > #navbarNav > .navbar-nav > li {
  margin: 0% 2%;
}

.navbar-DT > #navbarNav > .navbar-nav > li > a {
  width: 150%;
}

.navbar-DT > img {
  margin-left: 5%;
}

@media (max-width: 1366px) {
  .navbar-DT > #navbarNav > .navbar-nav {
    margin-left: 45%;
  }
}
@media (max-width: 1024px) {
  .navbar-DT > #navbarNav > .navbar-nav {
    margin-left: 20%;
  }
}
@media (max-width: 768px) {
  .navbar-DT > #navbarNav > .navbar-nav {
    margin-left: 0%;
    width: 100%;
  }

  .btn-tertiary {
    margin-top: -1.5%;
  }

  .btn-enviar {
    margin-left: 35%;
  }
}
@media (max-width: 500px) {
  .navbar-DT > #navbarNav > .navbar-nav {
    margin-left: 0%;
    width: 100%;
  }

  .btn-enviar {
    margin-top: 4%;
    margin-left: 25%;
  }
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #FF5B22;
}

.navbar-nav {
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.83);
}

.imagen-principal {
  width: 100%;
}

.imagen-principal > section {
  margin-top: -30%;
  color: #fff;
}

.imagen-principal > img {
  width: 100%;
}

.imagen-principal > section > .container > h1 {
  font-size: 350%;
}

.imagen-principal > section > .container > p:nth-child(1) {
  margin-top: 5%;
}

.imagen-principal > section > .container > div {
  display: flex;
}

.divider-naranja {
  width: 6%;
  margin-top: -1%;
  margin-bottom: 2%;
  margin-right: 1%;
  border-bottom: 3px solid #FF5B22;
  border-radius: 3px;
}

.seccion-negocio > .container {
  display: flex;
  margin-top: 20%;
}

.seccion-negocio > .container > div:nth-child(1) > h2 {
  font-weight: bold;
  font-size: 280%;
}

.seccion-negocio > .container > div:nth-child(1) > h2:nth-child(1) {
  color: #FF5B22;
}

.gris {
  color: #808080;
}

@media (max-width: 768px) {
  .seccion-negocio > .container > div:nth-child(2) > img {
    width: 100%;
  }

  .imagen-principal > section > .container > h1 {
    font-size: 250%;
  }
}
@media (max-width: 500px) {
  .imagen-principal > img {
    width: 100%;
    margin-top: 23%;
  }

  .imagen-principal > section {
    margin-top: -48%;
  }

  .divider-naranja {
    width: 10%;
    margin-top: -1%;
    margin-bottom: 5%;
    margin-right: 1%;
    border-bottom: 3px solid #FF5B22;
    border-radius: 3px;
  }

  .imagen-principal > section > div:nth-child(1) > div > p {
    font-size: 10px;
  }

  .imagen-principal > section > div:nth-child(1) > h1 {
    font-size: 20px;
  }

  .imagen-principal > section > div:nth-child(1) > p {
    font-size: 10px;
  }

  .seccion-negocio > .container {
    display: grid;
    margin-top: 20%;
  }

  .seccion-negocio > .container > div:nth-child(2) > img {
    width: 100%;
  }
}
.metodologia > h2 {
  margin-top: -10%;
  margin-left: 15%;
  color: #fff;
  font-size: 400%;
  font-weight: bold;
}

.metodologia > img {
  margin-top: 5%;
  width: 100%;
}

.metodologia > .container > div:nth-child(1) {
  margin-top: 10%;
}

.metodologia > .container > div:nth-child(1),
.metodologia > .container > div:nth-child(2) {
  display: flex;
  text-align: center;
}

.caja {
  width: 50%;
  padding: 5% 0%;
  background-color: #fff;
  margin: 1.5% 2%;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.342);
  --webkit-box-shadow: 0 0 10px 4px $negro;
  --moz-box-shadow: 0 0 10px 4px $negro;
  filter: shadow(color=rgba(0, 0, 0, 0.342), direction=135, strength=2);
}

.metodologia > article > .container > h2 {
  margin-top: 5%;
}

.metodologia > .container > div > .caja > img {
  margin-bottom: 5%;
}

.metodologia > article > .container > div {
  display: flex;
}

.metodologia > article > .container > div > div {
  margin: 0% 10%;
  margin-top: 5%;
  display: inline-flex;
}

.metodologia > article > .container > h2 {
  font-size: 350%;
}

.imagen-tamano {
  width: 30%;
}

@media (max-width: 768px) {
  .metodologia > article > .container > div {
    display: grid;
  }

  .metodologia > article > .container > div > div {
    display: grid;
    width: 80%;
    text-align: center;
  }

  .metodologia > article > .container > h2 {
    font-size: 350%;
    text-align: center;
  }

  .imagen-tamano {
    margin-left: 30%;
    margin-bottom: 15%;
  }
}
@media (max-width: 500px) {
  .metodologia > h2 {
    margin-top: -20%;
    margin-left: 15%;
    color: #fff;
    font-size: 100%;
    font-weight: bold;
  }

  .metodologia > .container > div:nth-child(1) {
    margin-top: 20%;
  }

  .metodologia > .container > div:nth-child(1),
.metodologia > .container > div:nth-child(2) {
    display: grid;
    text-align: center;
  }

  .caja {
    width: 100%;
    padding: 5% 0%;
    background-color: #fff;
    margin: 1.5% 0%;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.342);
    --webkit-box-shadow: 0 0 3px 3px $negro;
    --moz-box-shadow: 0 0 3px 3px $negro;
    filter: shadow(color=rgba(0, 0, 0, 0.342), direction=135, strength=2);
  }

  .metodologia > article > .container > div {
    display: grid;
  }

  .metodologia > article > .container > div > div {
    display: grid;
    width: 80%;
    text-align: center;
  }

  .imagen-tamano {
    margin-left: 30%;
    margin-bottom: 15%;
  }
}
.reutilizable {
  background-color: #E5E5E5;
}

.reutilizable > img {
  width: 100%;
}

.reuso {
  margin-top: 6%;
}

.reutilizable > h1 {
  margin-top: -10%;
  color: #fff;
  margin-left: 15%;
  font-size: 350%;
}

.reutilizable > p {
  margin-left: 15%;
  color: #fff;
  font-weight: bold;
}

.sub-reutilizable {
  margin-top: 5%;
  margin-left: 15%;
  margin-bottom: 1.5%;
}

.logos-empresas {
  margin-top: 5%;
  padding: 2.5% 0%;
}

.logos-empresas > img {
  margin: 0% 1%;
}

@media (max-width: 1920px) and (max-height: 1080px) {
  .sub-reutilizable {
    margin-top: 10%;
  }
}
@media (max-width: 1920px) {
  .reuso {
    margin-top: 4%;
  }
}
@media (max-width: 1366px) {
  .reuso {
    margin-top: 6%;
  }
}
@media (max-width: 1080px) {
  .reutilizable > h1 {
    margin-top: -15%;
    margin-bottom: 5%;
    color: #fff;
    margin-left: 15%;
  }

  .logos-empresas {
    margin-top: 0%;
    padding: 4% 0%;
  }

  .logos-empresas > img {
    width: 11%;
  }
}
@media (max-width: 768px) {
  .reutilizable > h1 {
    margin-top: -15%;
    margin-bottom: 0%;
    color: #fff;
    margin-left: 15%;
    font-size: 250%;
  }

  .reutilizable > p {
    width: 30%;
    font-size: 10px;
  }

  .reuso {
    margin-top: 10%;
  }
}
@media (max-width: 500px) {
  .reutilizable {
    background-color: #E5E5E5;
  }

  .logos-empresas {
    margin-top: 0%;
    padding: 0%;
  }

  .reutilizable > img {
    width: 100%;
  }

  .reuso {
    width: 100%;
    margin-top: 22%;
  }

  .reutilizable > h1 {
    margin-top: -10%;
    color: #fff;
    margin-left: 15%;
    font-size: 10px;
  }

  .reutilizable > p {
    font-size: 4px;
  }

  .sub-reutilizable > h1 {
    font-size: 10px;
  }

  .logos-empresas {
    margin-top: 5%;
  }

  .logos-empresas > img {
    margin: 0% 1%;
    width: 11%;
  }
}
.section-info > .container > section {
  display: flex;
  margin-top: 5%;
}

.section-info > .container > section > .container > p {
  margin-bottom: 10%;
}

@media (max-width: 768px) {
  .section-info > .container > section:nth-child(2) > div:nth-child(2) > img {
    margin-top: 5%;
    width: 100%;
  }

  .section-info > .container > section:nth-child(2) > div:nth-child(1) > div > img {
    width: 45%;
    margin-left: 3%;
  }
}
@media (max-width: 500px) {
  .section-info > .container > section {
    display: grid;
  }

  .section-info > .container > section:nth-child(2) > div:nth-child(2) > img {
    margin-top: 5%;
    width: 100%;
  }

  .section-info > .container > section:nth-child(2) > div:nth-child(1) > div > img {
    width: 45%;
    margin-left: 3%;
  }
}
footer {
  background-color: #262626;
  color: #fff;
  margin-top: 5%;
  padding-bottom: 3px;
}

footer > .container:nth-child(1) {
  display: flex;
}

footer > .container > div {
  margin-top: 5%;
}

footer > .container > div:nth-child(2) > div,
footer > .container > div:nth-child(3) > div {
  display: grid;
}

.divider {
  background-color: #FF5B22;
  padding: 3px;
  width: 100%;
  border-radius: 2px;
}

footer > .container:nth-child(2) > p {
  margin-top: 3%;
}

footer > .container:nth-child(2) > p > span > a:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  footer > .container:nth-child(1) {
    display: grid;
    text-align: center;
  }
}
@media (max-width: 500px) {
  footer > .container:nth-child(1) {
    display: grid;
  }
}
.row-section {
  display: flex;
  margin: 0%;
  max-width: 100%;
}

.galeria > .row-section > div > img {
  max-width: 100%;
}

.galeria > .row-section > div > h2 {
  margin-top: -20%;
  margin-left: 8%;
}

.galeria > .row-section > div:nth-child(1) > h2 {
  margin-top: -50% !important;
}

.galeria > .row-section > div > p {
  margin-left: 8%;
  font-size: 13px;
  color: #fff;
}

@media (max-width: 1920px) and (max-height: 1080px) {
  .galeria > .row-section > div {
    width: 100%;
    max-width: 100%;
    margin-bottom: 3%;
  }

  .galeria > .row-section > div > img {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 1366px) {
  .galeria > .row-section > div > img {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .row-section {
    display: grid;
  }

  .galeria > .row-section > div:nth-child(5) > h2 {
    margin-top: -7% !important;
  }
}
@media (max-width: 500px) {
  .galeria {
    margin-bottom: 37%;
  }

  .row-section {
    display: grid;
  }

  .galeria > .row-section > div > img {
    width: 100%;
  }

  .galeria > .row-section > div:nth-child(5) > h2 {
    margin-top: -15% !important;
  }
}
.tarjeta-presentacion > .container > .row {
  display: flex;
}

.tarjeta-presentacion > .container > .row > div {
  width: 27%;
  text-align: center;
  margin: 2% 3%;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.342);
  --webkit-box-shadow: 0 0 10px 4px $negro;
  --moz-box-shadow: 0 0 10px 4px $negro;
  filter: shadow(color=rgba(0, 0, 0, 0.342), direction=135, strength=2);
}

.tarjeta-presentacion > .container > .row > div > img {
  margin-top: 5%;
  margin-bottom: 5%;
}

.tarjeta-presentacion > .container > .row > div > div {
  text-align: left;
  margin-left: 10%;
}

.tarjeta-presentacion > .container > .row:nth-child(2) {
  margin-left: 18%;
  width: 90%;
}

@media (max-width: 500px) {
  .tarjeta-presentacion > .container > .row > div {
    width: 100%;
  }

  .tarjeta-presentacion {
    margin-top: -25%;
  }

  .tarjeta-presentacion > .container > .row:nth-child(2) {
    margin-left: -4.5%;
    width: 109%;
  }
}
.info-section {
  background-color: #f5c291;
  background: -webkit-gradient(left top, right top, color-stop(0%, #f5c291), color-stop(30%, #f5c291), color-stop(33%, #f5c291), color-stop(72%, #f2b094), color-stop(100%, #f2b094));
  background: linear-gradient(to right, #f5c291 0%, #f5c291 30%, #f5c291 33%, #f2b094 72%, #f2b094 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f5c291", endColorstr="#f2b094", GradientType=1 );
}

.info-section > p {
  padding: 3.5% 0%;
  width: 50%;
}

@media (max-width: 1920px) and (max-height: 1080px) {
  .info-section > p {
    margin-left: 15%;
  }
}
@media (max-width: 1366px) {
  .info-section > p {
    margin-left: 15%;
  }
}
@media (max-width: 500px) {
  .info-section > p {
    margin-left: 15%;
    width: 70%;
  }
}
.desarrollo-aplicaciones > .container > .row > div {
  margin: 0% 1.5%;
  margin-top: 3%;
  text-align: center;
  width: 22%;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.342);
  --webkit-box-shadow: 0 0 10px 4px $negro;
  --moz-box-shadow: 0 0 10px 4px $negro;
  filter: shadow(color=rgba(0, 0, 0, 0.342), direction=135, strength=2);
}

.desarrollo-aplicaciones > .container > .row > div > img {
  margin: 5% 0%;
}

.DTAPPS > p {
  width: 20%;
}

@media (max-width: 500px) {
  .desarrollo-aplicaciones > .container > .row > div {
    width: 100%;
  }

  .DTAPPS > p {
    width: 70%;
  }
}
.acerca-de {
  display: flex;
}

.acerca-de > div:nth-child(2) > img {
  width: 80%;
  margin-left: -150%;
}

.acerca-de > div > p {
  width: 50%;
}

@media (max-width: 500px) {
  .acerca-de {
    display: grid;
  }

  .acerca-de > div:nth-child(1) > p {
    width: 85%;
  }

  .acerca-de > div:nth-child(2) > img {
    width: 80%;
    margin-left: 0%;
  }
}
.img-representativa {
  margin-top: 5%;
}

@media (max-width: 1080px) {
  .img-representativa > img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .img-representativa > img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .img-representativa > img {
    width: 100%;
  }
}
form > div > input[type=text], input[type=email] {
  width: 26%;
  margin: 0.5% 1%;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 2px #E5E5E5;
  --webkit-box-shadow: 0px 2px 2px 2px $gris-opaco;
  --moz-box-shadow: 0px 2px 2px 2px $gris-opaco;
  filter: shadow(color=#E5E5E5, direction=135, strength=2);
  padding: 8px;
}

form > div:nth-child(3) > input[type=text] {
  width: 83%;
}

@media (max-width: 500px) {
  form > div > input[type=text], input[type=email] {
    width: 80%;
    margin: 3% 0%;
  }

  form > div:nth-child(3) > input[type=text] {
    width: 80%;
  }
}
.datos-domicilio {
  list-style: none;
}

@media (max-width: 1024px) {
  .aviso-privacidad > p {
    width: 95%;
  }
}
@media (max-width: 500px) {
  .aviso-privacidad {
    margin-top: 25%;
  }
}