<!-- SECCION METODOLOGIA -->
<section class="metodologia">
    <img src="assets/img/1.Inicio/2.Metodología/metodologia.png" alt="">
    <h2>Metodología</h2>
    <div class="container">
        <div>
            <div class="caja">
                <img src="assets/img/1.Inicio/2.Metodología/idea.png" alt="">
                <h5 class="font-weight-bold">Idea</h5>
            </div>
            <div class="caja">
                <img src="assets/img/1.Inicio/2.Metodología/analisisydiseño.png" alt="">
                <h5 class="font-weight-bold">Análisis y Diseño</h5>
            </div>
            <div class="caja">
                <img src="assets/img/1.Inicio/2.Metodología/desarrollo.png" alt="">
                <h5 class="font-weight-bold">Desarrollo</h5>
            </div>
        </div>
        <div>
            <div class="caja">
                <img src="assets/img/1.Inicio/2.Metodología/pruebas.png" alt="">
                <h5 class="font-weight-bold">Pruebas</h5>
            </div>
            <div class="caja">
                <img src="assets/img/1.Inicio/2.Metodología/reingenieria.png" alt="">
                <h5 class="font-weight-bold">Reingeniería</h5>
            </div>
            <div class="caja">
                <img src="assets/img/1.Inicio/2.Metodología/lanzamiento.png" alt="">
                <h5 class="font-weight-bold">Lanzamiento</h5>                
            </div>
        </div>
    </div>
    <!-- ARTICLE MERCADO MÉXICO -->
    <article>
        <div class="container">
            <h2 class="font-weight-bold"><span class="primary-color">Mercado</span> de México</h2>
            <div>
                <div class="container">
                    <div class="imagen-tamano">
                        <img src="assets/img/1.Inicio/3.Mercado de México/millones.png" alt="">
                    </div>
                    <div class="container">
                        <p class="font-weight-bold primary-color">51.4 MILLONES</p>
                        <p>
                            |Usuarios en México (segundo lugar en LA) <br>
                            |cuentan con un smartphone.
                        </p>
                    </div>
                </div>
                <div class="container">
                    <div class="imagen-tamano">
                        <img src="assets/img/1.Inicio/3.Mercado de México/ventas.png" alt="">
                    </div>
                    <div class="container">
                        <p class="font-weight-bold primary-color">24% EN VENTAS</p>
                        <p>
                            |Porcentaje promedio en crecimiento en ventas <br>
                            |digitales.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="container">
                    <div class="imagen-tamano">
                        <img src="assets/img/1.Inicio/3.Mercado de México/billones.png" alt="">
                    </div>
                    <div class="container">
                        <p class="font-weight-bold primary-color">6.4 BILLONES</p>
                        <p>
                            |En ventas en línea estimada para el 2021.
                        </p>
                    </div>
                </div>
                <div class="container">
                    <div class="imagen-tamano">
                        <img src="assets/img/1.Inicio/3.Mercado de México/247.png" alt="">
                    </div>
                    <div class="container">
                        <p class="font-weight-bold primary-color">24/7</p>
                        <p>
                            |Canal de venta y contacto siempre en todo <br>
                            |momento.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="container">
                    <div class="imagen-tamano">
                        <img src="assets/img/1.Inicio/3.Mercado de México/busquedas.png" alt="">
                    </div>
                    <div class="container">
                        <p class="font-weight-bold primary-color">9 DE CADA 10</p>
                        <p>
                            |Búsquedas se convierten en una compra o
                            |visita.
                        </p>
                    </div>
                </div>
                <div class="container">
                    <div class="imagen-tamano">
                        <img src="assets/img/1.Inicio/3.Mercado de México/usuarios.png" alt="">
                    </div>
                    <div class="container">
                        <p class="font-weight-bold primary-color">65% DE LOS USUARIOS</p>
                        <p>
                            |Comprará mediante un móvil en lo siguiente 5 <br>
                            |años.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- FIN ARTICLE MERCADO MÉXICO -->
</section>
<!-- FIN SECCION METODOLOGIA -->