<!-- IMAGEN PRINCIPAL-->
    <div class="imagen-principal">
        <img src="assets/img/1.Inicio/1.Inicio/inicio.png" alt="">
        <section>
            <div class="container">
                <div>
                    <span class="divider-naranja"></span>
                    <p>ESPECIALISTAS EN PROGRAMACIÓN DE APP</p>
                </div>
                <h1 class="font-weight-bold">DESARROLLOS <br> TECNOLÓGICOS</h1>
                <p>Alcanza el siguiente nivel en tu empresa</p>
            </div>
            <div class="dropdown-divider"></div><div class="container">
                <button type="button" class="btn btn-tertiary font-weight-bold">Conocénos</button>
            </div>
        </section>
    </div>
<!--FIN IMAGEN PRINCIPAL-->