<div class="container logos-empresas">
    <img src="assets/img/1.Inicio/4.Empresas/1bai.png" alt="">
    <img src="assets/img/1.Inicio/4.Empresas/2knergy.png" alt="">
    <img src="assets/img/1.Inicio/4.Empresas/3gpsrt.png" alt="">
    <img src="assets/img/1.Inicio/4.Empresas/4dunnchemie.png" alt="">
    <img src="assets/img/1.Inicio/4.Empresas/5ta.png" alt="">
    <img src="assets/img/1.Inicio/4.Empresas/6isii.png" alt="">
    <img src="assets/img/1.Inicio/4.Empresas/7hs.png" alt="">
</div>