<div class="container logos-empresas">
    <img src="assets/img/1.Inicio/4.Empresas/1bai.webp" alt="">
    <img src="assets/img/1.Inicio/4.Empresas/2knergy.webp" alt="">
    <img src="assets/img/1.Inicio/4.Empresas/3gpsrt.webp" alt="">
    <img src="assets/img/1.Inicio/4.Empresas/4dunnchemie.webp" alt="">
    <img src="assets/img/1.Inicio/4.Empresas/5ta.webp" alt="">
    <img src="assets/img/1.Inicio/4.Empresas/6isii.webp" alt="">
    <img src="assets/img/1.Inicio/4.Empresas/7hs.webp" alt="">
</div>