<!-- SECCION INFO -->
<section class="section-info">
    <div class="container">
        <section>
            <div class="container">
                <h4><strong>En <span class="primary-color">Desarrollos Tecnológicos</span>,</strong> construimos a la medida de nuestros clientes</h4>
            </div>
        </section>
        <section>
            <div class="container">
                <h2 class="font-weight-bold">Desarrollos</h2>
                <p class="">Te brindamos desarrollos especializados en:</p>
                <div>
                    <img src="assets/img/1.Inicio/5.Desarrollos/appstore.png" alt="" />
                    <img src="assets/img/1.Inicio/5.Desarrollos/googleplay.png" alt="" />
                </div>
            </div>
            <div class="container">
                <img src="assets/img/1.Inicio/5.Desarrollos/desarrollos.png" alt="" />
            </div>
        </section>
    </div>
</section>
<!-- FIN SECCION INFO -->