<!-- SECTION NEGOCIO -->
<section class="seccion-negocio">
    <div class="container">
        <div class="container">
            <h2>Tu idea, tu negocio,</h2>
            <h2>tu satisfacción</h2>
            <p>
                |Haz crecer tu negocio, creamos la herramienta tecnológica <br> 
                |a tu medida, aumenta tus ventas y brinda el mejor servicios a <br>tus clientes
            </p>
            <p class="font-weight-bold gris">
                |DESARROLLAMOS APPS PARA HACER <br>
                |CRECER TU NEGOCIO
            </p>
            <p>
                |Te brindamos apoyo si no cuentas con el capital suficiente.
            </p>
        </div>
        <div class="container">
            <img src="assets/img/1.Inicio/1.Inicio/tuidea.png" alt="">
        </div>
    </div>
</section>
<!-- FIN SECTION NEGOCIO -->