.vs/DesarrollosTecnologicos/config/applicationhost.config
.vs/DesarrollosTecnologicos/config
.vs/DesarrollosTecnologicos/v16/.suo
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/slnx-journal
prepros.config