<!-- FOOTER -->
<footer>
    <section class="container">
        <div class="container">
            <img src="assets/img/1.Inicio/6.Footer/logofooter.png" alt="">
        </div>
        <div class="container">
            <p class="font-weight-bold">NUESTRAS REDES</p>
            <div>
                <span><img src="assets/img/1.Inicio/6.Footer/facebook.png" alt="">&nbsp;&nbsp;Desarrollos Tecnológicos</span>
                <span><img src="assets/img/1.Inicio/6.Footer/instagram.png" alt="">&nbsp;Desarrollos Tecnológicos</span>
                <span><img src="assets/img/1.Inicio/6.Footer/linkedin.png" alt="">&nbsp;Desarrollos Tecnológicos</span>
            </div>
        </div>
        <div class="container">
            <p class="font-weight-bold">CONTÁCTANOS</p>
            <div>
                <span><img src="assets/img/1.Inicio/6.Footer/tel.png" alt="">&nbsp;&nbsp;8181800800</span>
                <span><img src="assets/img/1.Inicio/6.Footer/correo.png" alt="">&nbsp;info@desarrollostecnologicos</span>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="divider"></div>
        <p><span><a href="AvisoDePrivacidad.html" class="primary-color">Aviso de privacidad</a></span> Copyright ©2020. Todos los derechos reservados.</p>
    </section>
</footer>
<!-- FIN FOOTER -->