<!--NAVIGATION-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light navbar-DT">
        <img src="assets/img/1.Inicio/1.Inicio/logoheader.png" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav menu">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Servicios</a>
                    <ul>
                        <li>
                            <a class="dropdown-item" href="DesarrolloSoftware.html">
                                |Desarrollo de Software
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="DesarrolloAplicaciones.html">
                                |Desarrollo de aplicaciones
                            </a>
                        </li>
                    </ul> <!-- 1ST LEVEL END -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Acerca De.html">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Contacto.html">Contacto</a>
                </li>
                <button type="button" class="btn btn-tertiary font-weight-bold">81 1339 5664</button>
            </ul>
        </div>
    </nav>
<!--FIN NAVIGATION-->