extends ../templates/desarrollostecnologicosTemplate

block seccionReusable
    <img src="assets/img/Acerca de/acercade.webp" alt="" class="reuso">
    <h1 class="font-weight-bold">Acerca De</h1>
    <p>
        |DESARROLLOS TECNOLÓGICOS
    </p>
block subReutilizable
    <div class="acerca-de">
        <div>
            <h1 class="font-weight-bold">Desarrollos <br> Tecnológicos</h1>
            <p>
                |Desarrollos Tecnológicos es una empresa del GRUPO YGA
                |fundado en Monterrey, es un grupo de empresas
                |diversificadas enfocadas en soluciones innovadoras para la
                |industria a través de productos y servicios en
                |Recursos Humanos, Tecnologia Industrial y Construcción.
            </p>
            <p>
                |El grupo actualmente está compuesto por 9 empresas y
                |más de 32 líneas de negocios que brindan soluciones en
                |todo México y en algunos países de America del Sur.
            </p>
        </div>
        <div>
            <img src="assets/img/Acerca de/logo.webp" alt="" />
        </div>
    </div>
block complementos
    <!-- IMAGEN REPRESENTATIVA -->
    <div class="container img-representativa">
        <img src="assets/img/Acerca de/historia.webp" alt="">
    </div>
    <!-- FIN IMAGEN REPRESENTATIVA -->