extends ../templates/desarrollostecnologicosTemplate

block seccionReusable
    <img src="assets/img/Acerca de/acercade.png" alt="" class="reuso">
    <h1 class="font-weight-bold">Acerca De</h1>
    <p>
        |DESARROLLOS TECNOLÓGICOS
    </p>