extends ../templates/desarrollostecnologicosTemplate

block seccionReusable
    <img src="assets/img/Contacto/contacto.png" alt="" class="reuso">
    <h1 class="font-weight-bold">Contacto</h1>
    <p>
        |Contáctanos y adquiere nuestros servicios.
    </p>