extends ../templates/desarrollostecnologicosTemplate

block seccionReusable
    <img src="assets/img/Contacto/contacto.png" alt="" class="reuso">
    <h1 class="font-weight-bold">Contacto</h1>
    <p>
        |Contáctanos y adquiere nuestros servicios.
    </p>
block subReutilizable
    <div class="container">
        <h2 class="font-weight-bold">Deseas mayor información</h2>
        <form action="" method="POST">
            <div>
                <input type="text" name="Nombre" id="" placeholder="Nombre">
                <input type="email" name="Email" id="" placeholder="Email">
                <input type="text" name="Teléfono" id="" placeholder="Teléfono">
            </div>
            <div>
                <input type="text" name="Ciudad" id="" placeholder="Ciudad">
                <input type="text" name="Empresa" id="" placeholder="Empresa">
                <input type="text" name="Giro" id="" placeholder="Giro">
            </div>
            <div>
                <input type="text" name="Mensaje" id="" placeholder="Mensaje">
            </div>
            <button type="button" class="btn btn-enviar btn-tertiary font-weight-bold">Enviar</button>
        </form>
    </div>
block complementos