extends ../templates/desarrollostecnologicosTemplate

block seccionReusable
    <img src="assets/img/2.Servicios- Desarrollo de Software/software.png" alt="" class="reuso">
    <h1 class="font-weight-bold">Servicios</h1>
    <p>
        |En Desarrollos Tecnológicos, creamos el software que cumpla <br>
        |con tus necesidades, mediante palataforma web o app.
    </p>

