extends ../templates/desarrollostecnologicosTemplate

block seccionReusable
    <img src="assets/img/3.Servicios- Desarrollo de aplicaciones/aplicaciones.png" alt="" class="reuso">
    <h1 class="font-weight-bold">Servicios</h1>
    <p>
        |Tienes una gran idea, nosotros te apoyamos, convertimos tu <br>
        |necesidad en un desarrollo tecnológico a la medida
    </p>