extends ../templates/desarrollostecnologicosTemplate

block seccionReusable
    <img src="assets/img/2.Servicios- Desarrollo de Software/software.png" alt="" class="reuso">
    <h1 class="font-weight-bold">Servicios</h1>
    <p>
        |En Desarrollos Tecnológicos, creamos el software que cumpla <br>
        |con tus necesidades, mediante palataforma web o app.
    </p>
block subReutilizable
    <h1 class="font-weight-bold">Desarrollo de Software</h1>
block complementos
    <!-- GALERIA -->
    <section class="galeria">
        <div class="row-section">
            <div>
                <img src="assets/img/2.Servicios- Desarrollo de Software/servicios.png" alt="">
                <h2 class="font-weight-bold secondary-color"><span class="primary-color">01.</span> Servicios</h2>
                <p>
                    |Diseñamos plataformas <br> efectivas a tu negocio, para la <br>
                    |operación, el control, entregas <br>
                    |y evaluaciones de satisfacción.
                </p>
            </div>
            <div>
                <img src="assets/img/2.Servicios- Desarrollo de Software/industria.png" alt="">
                <h2 class="font-weight-bold secondary-color"><span class="primary-color">02.</span> Industria</h2>
            </div>
            <div>
                <img src="assets/img/2.Servicios- Desarrollo de Software/seguros.png" alt="">
                <h2 class="font-weight-bold secondary-color"><span class="primary-color">03.</span> Seguros</h2>
            </div>
            <div>
                <img src="assets/img/2.Servicios- Desarrollo de Software/transporte.png" alt="">
                <h2 class="font-weight-bold secondary-color"><span class="primary-color">04.</span> Transporte</h2>
            </div>
            <div>
                <img src="assets/img/2.Servicios- Desarrollo de Software/personal.png" alt="">
                <h2 class="font-weight-bold secondary-color"><span class="primary-color">05.</span> Personal</h2>
            </div>
        </div>
    </section>
    <!-- FIN GALERIA -->
    <!-- TARJETAS PRESENTACION -->
    <section class="tarjeta-presentacion">
        <div class="container">
            <div class="row">
                <div>
                    <img src="assets/img/2.Servicios- Desarrollo de Software/desarrollodeaplicacionesweb.png" alt="">
                    <h6 class="font-weight-bold">Desarrollo de aplicaciones web</h6>
                    <div>
                        <p>
                            |Desarrollo de software. <br>
                            |Full-stack / back-end / front-end. <br>
                            |Contamos con <br>
                            |especialistas en: Java, PHP, <br>
                            |Python y SQL, Javascript, CSS3 y <br>
                            |HTML5.
                        </p>
                    </div>
                </div>
                <div>
                    <img src="assets/img/2.Servicios- Desarrollo de Software/desarrollodeaplicacionesmoviles.png" alt="">
                    <h6 class="font-weight-bold">Desarrollo de aplicaciones móviles</h6>
                    <div>
                        <p>
                            |Desarrollo de aplicaciones móvil <br>
                            |iOS o Android conectadas a la <br>
                            |aplicacion web, incluye carac- <br>
                            |teristicas, como  notificaciones <br>
                            |push, geolocalización, reservas, <br>
                            |compras, evidencias, etc.
                        </p>
                    </div>
                </div>
                <div>
                    <img src="assets/img/2.Servicios- Desarrollo de Software/aplicacionesweb.png" alt="">
                    <h6 class="font-weight-bold">Aplicaciones Web</h6>
                    <div>
                        <p>
                            |Expertos en desarrollo de <br>
                            |software en la creación de <br>
                            |soluciones web de <br>
                            |automatización. Aplicamos API <br>
                            |externas o las desarrollamos para <br>
                            |brindar servicios web.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <img src="assets/img/2.Servicios- Desarrollo de Software/desarrollowebfullstack.png" alt="">
                    <h6 class="font-weight-bold">Desarrollo web Full Stack</h6>
                    <div>
                        <p>
                            |Desarrollo web atractivos <br>
                            |responsivos, adecuados a cada<br>
                            |necesidad de nuestros clientes. <br>
                            |Sitios web y CMS, como Word-<br>
                            |press, Joomla y Drupal <br>
                            |
                        </p>
                    </div>
                </div>
                <div>
                    <img src="assets/img/2.Servicios- Desarrollo de Software/aplicacioneswebcomercio.png" alt="">
                    <h6 class="font-weight-bold">Aplicaciones web de comercio electrónico</h6>
                    <div>
                        <p>
                            |Sitio web de comercio <br>
                            |electrónico para impulsar ventas <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FIN TARJETAS PRESENTACION -->
    
