extends ../templates/desarrollostecnologicosTemplate
block seccionInicio
    include ../includes/imagenPresentacion
    include ../includes/sectionNegocio
block imagenMetodologia
    include ../includes/imagenMetodologia
block seccionReusable
    <img src="assets/img/1.Inicio/4.Empresas/empresas.png" alt="" class="">
    <h1 class="font-weight-bold">Nuestros <br> Clientes</h1>
block logos-empresas
    include ../includes/logosEmpresas
block sectionInfo
    include ../includes/sectionInfo
